<h1>Job Completed!!!</h1>

<p>Dear <%= @provider.fname %> <%= @provider.lname %>, <br/></p>
<p>Your Job "<%= @task.title %>" has been completed. <br/></p>
<p>Hours Used: <%= @task.usedHour %>hrs <br/> </p>
<p>Escrow Used: $<%= @task.usedEscrow %> <br/> </p>
