<h1>Job Changed</h1>

<p>Dear <%= @provider.fname %> <%= @provider.lname %>, Job was changed.<br/></p>
<p>Datetime: <%= @task.datetime %><br/> </p>
<p>Service Category: <%= @task.type.name %> <br/> </p>
<p>City: <%= @task.city %><br/> </p>
<p>Require purchase: <%= @task.escrowable %><br/> </p>
<p>Job Notes: <%= @task.details %><br/> </p>
-----------------------------------
<p>Client Name: <%= @client.fname %> <%= @client.lname %><br/> </p>
<!-- <p>Client Phone: <%= @client.phone1 %><br/> </p>
<p>Client Email: <%= @client.email %><br/> </p> -->

<a href=<%= @taskurl %>> Click here to check changed job.</a>


